<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url %>

<!-- 'portfolio_item' is the name of the partial. @portfolio_items is the collection -->
<%= render partial: 'portfolio_item', collection: @portfolio_items %>