// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 background-color: #f7deb7;   
 color: #7498ad;
 font-size: 16px;
 font-family: Verdana;
 text-align: left;
 
}


th{
    text-align: center;
}

img {
    height: 90px;
    width: 90px;
    
}

.bottom a {
    color: white;
}
