// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 background-color: #f7deb7;   
 color: #7498ad;
 font-size: 16px;
 font-family: Verdana;
 text-align: center;
 
}


th{
    text-align: center;
}

img {
    height: 90px;
    width: 90px;
    
}

div {
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid grey;

    background-image: url("http://40.media.tumblr.com/513bfd9fff392d995c9efa251e9c83b3/tumblr_nnhf3tM8ph1skytjmo1_250.jpg");
}

